.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;

    &__item{

        display: inline-block;
        margin-left: 4rem;      

        &__link{
            font-size: $default-font-size;
            text-decoration: none;
            text-transform: uppercase;
            color: $color-white; 
            font-weight: 700;
        }
    }    

}

.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: - 20vh;
}

.section-menu{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark,1),
        rgba($color-grey-dark,1));
    background-size: cover;
    transform: skewY(-5deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(5deg);
    }
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 20rem 0 50rem 0;
    margin-top: -8rem;
}